{% include 'nav.html' %}
<div id="myModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="titulo-modal"></h4>
            </div>
            <div class="modal-body">
                <p id="texto-modal"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Entendido</button>
            </div>
        </div>
    </div>
</div>
<body>
    <div class="col-lg-2"></div>
    <div id="AddClientes" class="col-lg-9 principal">
        <div class="col-lg-6" style="margin-top: 20px; overflow-y: scroll; height: 95%;">
            {% for grupo, gustos in grupos %}
            <h4>{{ grupo.nombre }}:</h4>
            {% for gusto in gustos %}
            <div class="gusto" onclick="select(this);" id="{{ gusto.id }}">{{ gusto.nombre }}</div>
            {% endfor %}
            {% endfor %}
        </div>
        <div class="col-lg-6" style="margin-top: 20px;">
            <h4 id="sabor"></h4>
            <label>Fecha de elaboración:</label>
            <input type="text" id="fecha" class="form-control" disabled style="margin: 10px 0px 10px 0px;" value="{{ fecha }}">
            <label>Lote:</label>
            <input id="lote" type="text" class="form-control" style="margin: 10px 0px 10px 0px;" value="0001" onchange="generarCod();">
            <div style="margin-top: 15px;" class="input-group">
                <input id="peso" type="text" class="form-control" disabled>
                <span class="input-group-addon" id="basic-addon2">Kgs.</span>
                <span class="input-group-btn">
                    <btn class="btn btn-primary" onclick="obtenerPeso();">Obtener peso</btn>
                </span>
            </div>
            <label style="margin-top: 10px;">Código de barras:</label>
            <input type="text" id="codigo" class="form-control" style="margin: 10px 0px 10px 0px;" disabled value="000938816739">
            <btn class="btn btn-success imprimir">Guardar e imprimir etiqueta</btn>
        </div>
    </div>
</body>
<script>
    var div;
    function select(algo) {
        if(div){
            if(div == algo){
                $(div).removeClass("activo");
                div = '';
            }else{
                $(div).removeClass("activo");
                $(algo).addClass("activo");
                div = algo
            }
        }else{
            $(algo).addClass("activo");
            div = algo;
        }
        generarCod();
        $('#sabor').text("El gusto elegio es: "+$(div).text());
    }
    
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    function obtenerPeso(){
        var csrftoken = getCookie('csrftoken');

        $.ajax({
            url : '/cargarLatas/', // the endpoint,commonly same url
            type : "POST", // http method
            data : { csrfmiddlewaretoken : csrftoken, 
                    peso : "Obtener peso",
                   }, // data sent with the post request

            // handle a successful response
            success : function(json) {
                //console.log(json); // another sanity check
                //On success show the data posted to server as a message
                if(json['error']){
                    $('#titulo-modal').text(json['titulo']);
                    $('#texto-modal').text(json['error']);
                    $("#myModal").modal('show');
                }else{
                    $('#peso').val(json['peso']);
                }
            },

            // handle a non-successful response
            error : function(xhr,errmsg,err) {
                console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
            }
        });
    }
    
    function generarCod(){
        var lote = $('#lote').val();
        if(div != '' && lote != ''){
            var gusto = $(div).attr('id');
            var fecha = $('#fecha').val();
            fecha = fecha[0]+fecha[1]+fecha[3]+fecha[4]+fecha[6]+fecha[7]+fecha[8]+fecha[9];
            $('#codigo').val(lote+gusto+fecha);
        }else{}
    }
    
    function guardar(){
        
    }
</script>