{% include 'nav.html' %}
<title>Cargar Latas</title>
<div id="myModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="titulo-modal"></h4>
            </div>
            <div class="modal-body">
                <p id="texto-modal"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Entendido</button>
            </div>
        </div>
    </div>
</div>
<body>
    <div class="col-lg-2"></div>
    <div id="AddClientes" class="col-lg-9 principal">
        <div class="col-lg-6" style="margin-top: 20px; overflow-y: scroll; height: 95%;">
            <div class="panel-group" id="accordion">
                {% for grupo, gustos in grupos %}
                <div class="panel panel-default">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ grupo.id }}">
                        <div class="panel-heading">
                            <h4 class="panel-title" style="color: #000;">
                                {{ grupo.nombre }}:
                            </h4>
                        </div>
                    </a>
                    <div id="collapse{{ grupo.id }}" class="panel-collapse collapse">
                        <div class="panel-body">
                            {% for gusto in gustos %}
                            <div class="gusto" onclick="select(this);" id="{{ gusto.id }}">{{ gusto.nombre }}</div>
                            <input type="hidden" id="rna{{ gusto.id }}" value="{{ gusto.rna }}">
                            <input type="hidden" id="rne{{ gusto.id }}" value="{{ gusto.rne }}">
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-lg-6" style="margin-top: 20px;">
            <h4 id="sabor"></h4>
            <label>Fecha de elaboración:</label>
            <input type="text" id="fecha" class="form-control" disabled style="margin: 10px 0px 10px 0px;" value="{{ fecha }}">
            <label>Lote:</label>
            <input id="lote" type="text" class="form-control" style="margin: 10px 0px 10px 0px;" value="0001" onchange="generarCod();">
            <div style="margin-top: 15px;" class="input-group">
                <input id="peso" type="text" class="form-control" disabled>
                <span class="input-group-addon" id="basic-addon2">Kgs.</span>
                <span class="input-group-btn">
                    <btn class="btn btn-primary" onclick="obtenerPeso();">Obtener peso</btn>
                </span>
            </div>
            <label style="margin-top: 10px;">Código de barras:</label>
            <input type="text" id="codigo" class="form-control" style="margin: 10px 0px 10px 0px;" disabled value="Aqui aparecera el codigo...">

            <btn class="btn btn-success imprimir" onclick="guardar();">Guardar e imprimir etiqueta</btn>
        </div>
    </div>
    <div class="col-lg-12 etiqueta" id="etiqueta">
        <div class="col-lg-6">
            <label id="label_lote">Lote:</label><br>
            <label id="label_gusto">Gusto:</label><br>
            <label id="label_rna">RNA:</label>
        </div>
        <div class="col-lg-6">
            <label id="label_peso">Peso:</label><br>
            <label id="label_fecha">Fecha:</label><br>
            <label id="label_rne">RNE:</label>
        </div>
        <img style="margin-top:20px;" id="barcode"/>
    </div>
</body>
<script>
    var div;
    var ultimo_id = {{ ultimo_id }};
    function select(algo) {
        if(div){
            if(div == algo){
                $(div).removeClass("activo");
                div = '';
            }else{
                $(div).removeClass("activo");
                $(algo).addClass("activo");
                div = algo
            }
        }else{
            $(algo).addClass("activo");
            div = algo;
        }
        generarCod();
        $('#sabor').text("El gusto elegio es: "+$(div).text());
    }

    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    function obtenerPeso(){
        var csrftoken = getCookie('csrftoken');

        $.ajax({
            url : '/cargarLatas/', // the endpoint,commonly same url
            type : "POST", // http method
            data : { csrfmiddlewaretoken : csrftoken, 
                    obtenerPeso : "Obtener peso",
                   }, // data sent with the post request

            // handle a successful response
            success : function(json) {
                //console.log(json); // another sanity check
                //On success show the data posted to server as a message
                if(json['error']){
                    $('#titulo-modal').text(json['titulo']);
                    $('#texto-modal').text(json['error']);
                    $("#myModal").modal('show');
                }else{
                    $('#peso').val(json['peso']);
                }
            },

            // handle a non-successful response
            error : function(xhr,errmsg,err) {
                console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
            }
        });
    }

    function generarCod(){
        var lote = $('#lote').val();
        if(div != '' && lote != ''){
            var gusto = $(div).attr('id');
            var fecha = $('#fecha').val();
            fecha = fecha[0]+fecha[1]+fecha[3]+fecha[4]+fecha[6]+fecha[7]+fecha[8]+fecha[9];
            $('#codigo').val(lote+ultimo_id+gusto+fecha);
        }else{}
    }

    function guardar(){
        if($('#codigo').val() != 'Aqui aparecera el codigo...' /*&& $('#peso').val() != ''*/){
            generarCod();
            var id_gusto = $(div).attr('id');
            JsBarcode("#barcode", $('#codigo').val(), {
                format: "code39",
                lineColor: "#000",
                width:1.5,
                height:80,
                displayValue: true
            });
            $('#label_fecha').text('Fecha: '+$('#fecha').val());
            $('#label_gusto').text('Gusto: '+$(div).text());
            $('#label_lote').text('Lote: '+$('#lote').val());
            $('#label_peso').text('Peso: '+$('#peso').val()+' Kgs.');
            $('#label_rna').text('RNA: '+$('#rna'+id_gusto).val());
            $('#label_rne').text('RNE: '+$('#rne'+id_gusto).val());
            $('#etiqueta').show();

            var csrftoken = getCookie('csrftoken');

            html2canvas(document.getElementById('etiqueta'), {
                onrendered: function(canvas) {
                    //$('#etiqueta').hide();
                    $.ajax({
                        url : '/cargarLatas/', // the endpoint,commonly same url
                        type : "POST", // http method
                        data : { csrfmiddlewaretoken : csrftoken,
                                imprimir : "Imprimir etiqueta",
                                imagen : canvas.toDataURL().split(',')[1],
                                peso : $('#peso').val(),
                                lote : $('#lote').val(),
                                gusto : $(div).attr('id'),
                                codigo : $('#codigo').val(),
                               }, // data sent with the post request

                        // handle a successful response
                        success : function(json) {
                            //console.log(json); // another sanity check
                            //On success show the data posted to server as a message
                            if(json['ultimo_id']){
                                $('#titulo-modal').text(json['titulo']);
                                $('#texto-modal').text(json['error']);
                                $("#myModal").modal('show');
                                ultimo_id = ultimo_id+1;
                                $('#peso').val('');
                                $(div).removeClass('activo');
                            }else{}
                        },

                        // handle a non-successful response
                        error : function(xhr,errmsg,err) {
                            console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                        }
                    });

                }
            });


        }else{
            if($('#codigo').val() == 'Aqui aparecera el codigo...'){
                $('#titulo-modal').text("Error generando código de barras");
                $('#texto-modal').text("Por favor seleccione un gusto de helado para la lata...");
                $("#myModal").modal('show');
            }else{
                $('#titulo-modal').text("Error generando código de barras");
                $('#texto-modal').text("Por favor cargue el peso de la lata poniendo la lata sobre la balanza y haciendo click en 'Obtener peso'");
                $("#myModal").modal('show');
            }
        }
    }
</script>