{% include 'nav.html' %}
<title>Remitos</title>
<script type="text/javascript">
    $(document).ready(function() {
        $(".select2").select2();
    });
</script>
<div id="myModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="titulo-modal"></h4>
            </div>
            <div class="modal-body">
                <p id="texto-modal"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Entendido</button>
            </div>
        </div>
    </div>
</div>
<body onbeforeunload="return salir()">
    <div class="col-lg-2"></div>
    <div id="" class="col-lg-9 principal">
        <div class="col-lg-6" style="margin-top: 20px; overflow-y: scroll; height: 95%;">
            <table id="latas" class="form-control table" style="background-color: #71CFF5; border-color: #71CFF5;">
                <thead>
                    <tr>
                        <th>Número</th>
                        <th>Código</th>
                        <th>Gusto</th>
                        <th>Peso</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
        <div class="col-lg-6" style="margin-top: 20px;">
            <h4 id="sabor"></h4>
            <label>Fecha de Remito:</label>
            <input type="text" id="fecha" class="form-control" disabled style="margin: 10px 0px 10px 0px;" value="{{ fecha }}">
            <label>Cliente:</label>
            <select class="select2 form-control" id="selectCliente" onchange="activar(this.value);">
                <option value="none">Seleccione un cliente</option>
                {% for cliente in clientes %}
                <option value="{{ cliente.id }}">{{ cliente.razon_social }}</option>
                <input type="hidden" value="{{ cliente.precio }}" id="precio{{ cliente.id }}">
                {% endfor %}
            </select>
            <label style="margin-top: 10px;">Cantidad de latas cargadas: </label><label id="cant">0</label>
            <label style="margin-top: 10px;">Código de barras (utilice el lector para escanear el código):</label>
            <input type="text" maxlength="20" id="codigo" class="form-control" style="margin: 10px 0px 10px 0px;" onchange="buscar(this.value);" disabled>
            <div class="col-lg-6">
                <label>Precio por kilo:</label>
                <div style="margin-top: 10px;" class="input-group">
                    <span class="input-group-addon" id="basic-addon2">$/Kg</span>
                    <input id="precio-kg" type="text" class="form-control" disabled>
                </div>
            </div>
            <div class="col-lg-6">
                <label>Subtotal:</label>
                <div style="margin-top: 10px;" class="input-group">
                    <span class="input-group-addon" id="basic-addon2">$</span>
                    <input id="subtotal" type="text" class="form-control" disabled>
                </div>
            </div>
            <btn class="btn btn-success imprimir" onclick="guardar();">Guardar Remito</btn>
        </div>
    </div>
</body>
<script>
    var cant = 0;
    var ids = [];
    var subtotal = 0.0;
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    function activar(valor){
        if(valor == 'none'){
            $("#codigo").prop('disabled', true);
        }else{
            $("#codigo").prop('disabled', false);
            $('#precio-kg').val($('#precio'+valor).val());
            $( "#subtotal" ).val(subtotal);
            $( "#codigo" ).focus();
        }
    }

    function buscar(codigo) {
        var csrftoken = getCookie('csrftoken');

        var table = document.getElementById("latas");

        $.ajax({
            url : '/remito/', // the endpoint,commonly same url
            type : "POST", // http method
            data : { csrfmiddlewaretoken : csrftoken, 
                    codigo : codigo,
                   }, // data sent with the post request

            // handle a successful response
            success : function(json) {
                //console.log(json); // another sanity check
                //On success show the data posted to server as a message 
                if(json['lata']){
                    var is_lata = document.getElementById("lata"+json['lata'].id);
                    if(is_lata == null){
                        var row = table.insertRow(1);

                        row.id = "lata"+json['lata'].id;
                        var cell1 = row.insertCell(0);
                        var cell2 = row.insertCell(1);
                        var cell3 = row.insertCell(2);
                        var cell4 = row.insertCell(3);
                        var cell5 = row.insertCell(4);

                        cell1.innerHTML = json['lata'].id;
                        cell2.innerHTML = json['lata'].codigo;
                        cell3.innerHTML = json['lata'].gusto;
                        cell4.innerHTML = json['lata'].peso+" Kgs.";
                        cell5.innerHTML = '<btn class="btn btn-danger" onclick="rmvLata('+json['lata'].id+');"><i class="fa fa-times"></i></btn>';
                        $( "#codigo" ).val('');
                        $( "#codigo" ).focus();
                        cant = cant + 1;
                        $( "#cant" ).text(cant);
                        ids.push(json['lata'].id);
                        var precio = parseFloat($('#precio-kg').val()) * parseFloat(json['lata'].peso);
                        subtotal = subtotal + precio;
                        $( "#subtotal" ).val(subtotal);
                    }else{
                        alert("ESTA LATA YA ESTA CARGADA EN EL REMITO, NO PUEDE CARGARLA DOS VECES");
                        $( "#codigo" ).val('');
                        $( "#codigo" ).focus();
                    }
                }else{
                    alert("EL CÓDIGO INGRESADO NO ES RECONOCIDO POR EL SISTEMA");
                    $( "#codigo" ).val('');
                    $( "#codigo" ).focus();
                }
            },

            // handle a non-successful response
            error : function(xhr,errmsg,err) {
                console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
            }
        });
    }

    function rmvLata(id) {
        var r = confirm("De verdad desea eliminar la lata con ID: "+id);

        if (r == true) {
            var myNode = document.getElementById("lata"+id);
            while (myNode.firstChild) {
                myNode.removeChild(myNode.firstChild);
            }
        }else{}
    }

    function salir() {
        return "Antes de salir CANCELE o GUARDE el remito";
    }

    function guardar() {
        var csrftoken = getCookie('csrftoken');
        $.ajax({
            url : '/agregar/', // the endpoint,commonly same url
            type : "POST", // http method
            data : { csrfmiddlewaretoken : csrftoken, 
                    id_cliente : $("#selectCliente").val(),
                    latas : ids,
                   }, // data sent with the post request

            // handle a successful response
            success : function(json) {
                //console.log(json); // another sanity check
                //On success show the data posted to server as a message
                alert(json['error']);
                var myNode = document.getElementById("usuario"+id);
                while (myNode.firstChild) {
                    myNode.removeChild(myNode.firstChild);
                }
            },

            // handle a non-successful response
            error : function(xhr,errmsg,err) {
                console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
            }
        });
    }
</script>