{% include 'nav.html' %}
<title>Remitos</title>
<script type="text/javascript">
    $(document).ready(function() {
        $(".select2").select2();
        $( "#codigo" ).focus();
    });
</script>
<div id="myModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="titulo-modal"></h4>
            </div>
            <div class="modal-body">
                <p id="texto-modal"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Entendido</button>
            </div>
        </div>
    </div>
</div>
<body>
    <div class="col-lg-2"></div>
    <div id="" class="col-lg-9 principal">
        <div class="col-lg-6" style="margin-top: 20px; overflow-y: scroll; height: 95%;">
            <table id="latas" class="form-control table" style="background-color: #71CFF5; border-color: #71CFF5;">
                <thead>
                    <tr>
                        <th>Número</th>
                        <th>Código</th>
                        <th>Gusto</th>
                        <th>Peso</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr id="lata1">
                        <td>1</td>
                        <td>0003993030</td>
                        <td>COCO</td>
                        <td>7.9</td>
                        <td><btn class="btn btn-warning" onclick="verCliente({{ cliente.id }})"><i class="fa fa-eye"></i></btn> <btn class="btn btn-danger" onclick="rmvCliente('{{ cliente.id }}', '{{ cliente.razon_social }}')"><i class="fa fa-times"></i></btn></td>
                    </tr>
                    <tr id="lata2">
                        <td>2</td>
                        <td>0003993030</td>
                        <td>COCO</td>
                        <td>7.9</td>
                        <td><btn class="btn btn-warning" onclick="verCliente({{ cliente.id }})"><i class="fa fa-eye"></i></btn> <btn class="btn btn-danger" onclick="rmvCliente('{{ cliente.id }}', '{{ cliente.razon_social }}')"><i class="fa fa-times"></i></btn></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-lg-6" style="margin-top: 20px;">
            <h4 id="sabor"></h4>
            <label>Fecha de Remito:</label>
            <input type="text" id="fecha" class="form-control" disabled style="margin: 10px 0px 10px 0px;" value="{{ fecha }}">
            <label>Cliente:</label>
            <select class="select2 form-control" name="selectCliente">
                <option value="none">Seleccione un cliente</option>
                {% for cliente in clientes %}
                <option value="{{ cliente.id }}">{{ cliente.razon_social }}</option>
                {% endfor %}
            </select>
            <label style="margin-top: 10px;">Código de barras (utilice el lector para escanear el código):</label>
            <input type="text" id="codigo" class="form-control" style="margin: 10px 0px 10px 0px;" onchange="buscar(this.value);">
            <btn class="btn btn-success imprimir" onclick="guardar();">Guardar Remito</btn>
        </div>
    </div>
</body>
<script>
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    
    function buscar(codigo) {
        var csrftoken = getCookie('csrftoken');
        
        var table = document.getElementById("latas");
        
        $.ajax({
            url : '/remito/', // the endpoint,commonly same url
            type : "POST", // http method
            data : { csrfmiddlewaretoken : csrftoken, 
                    codigo : codigo,
                   }, // data sent with the post request

            // handle a successful response
            success : function(json) {
                //console.log(json); // another sanity check
                //On success show the data posted to server as a message
                if(json['lata']){
                    var row = table.insertRow(0);
                    
                    var cell1 = row.insertCell(0);
                    var cell2 = row.insertCell(1);
                    var cell3 = row.insertCell(2);
                    var cell4 = row.insertCell(3);
                    var cell5 = row.insertCell(4);
                    
                    cell1.innerHTML = json['lata'].id;
                    cell2.innerHTML = "NEW CELL2";
                    cell3.innerHTML = "NEW CELL1";
                    cell4.innerHTML = "NEW CELL2";
                    cell5.innerHTML = "NEW CELL2";
                    
                    $( "#codigo" ).focus();
                }else{
                    $('#titulo-modal').text(json['titulo']);
                    $('#texto-modal').text(json['error']);
                    $("#myModal").modal('show');
                }
            },

            // handle a non-successful response
            error : function(xhr,errmsg,err) {
                console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
            }
        });
    }
</script>